.findMe {
    position: fixed;
    top: 35%;
    left: 0px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 60px;
    background-color: #fff;
    z-index: 3;
}
.findMe .icons {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.icons .icon {
    margin: 15px;
    text-decoration: none;
    position: relative;
    padding: 5px;
    border-radius: 5px;
    flex-direction: column-reverse;
    width: 30px;
}
.icon:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.icon span {
   color: #000000;
   font-size: 14px;
   position: absolute;
   top: -22px;
   left: -17px;
   padding: 5px;
   font-weight: 400;
   visibility: hidden;
   text-decoration: none;
}

.icon:hover span {
    visibility: visible;
}

a img {
    width: 20px;
    height: auto;
    color: #000;
}

@media screen and (max-width: 550px) {
    .findMe {
        top: 0;
        left: 0;
        width: 100vw;
        height: 80px;
    }
    .findMe .icons {
        flex-direction: row;
        justify-content: space-between;
    }
}


@media screen and (max-height: 500px) and (min-width: 551px) {
    .findMe {
        overflow-y: auto;
        height: 240px;
    }
}

@media screen and (max-height: 350px) and (min-width: 551px) {
    .findMe {
        overflow-y: auto;
        height: 160px;
    }
}
