.aboutme {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 10px;
  text-align: left;
}

.aboutmeinfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start; 
}

h1 {
  font-size: 40px;
  font-weight: 800;
  text-align: left;
  margin-bottom: 20px;
  color: #fff;
}

p {
  font-size: 20px;
  color: #ccc;
}

.myLists {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.myLists span {
  padding: 5px 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 20px;
  background: rgba(153, 153, 153, 0.3);
  border-radius: 5px;
  font-weight: 600;
  color: #ccc;
  cursor: pointer;
}


@media screen and (max-width: 900px) {
  .aboutme {
    flex-direction: column;
  }
  .aboutmeinfo {
    flex: 1;
  }
  .imageCont {
    display: none;
  }
}

@media screen and (max-width: 550px) {

  .aboutme {
    width: 100vw;
    margin-top: 60px;
    height: calc(80vh - 30px);
  }
  h1 {
    font-size: 30px;
  }
  p,
  .myLists span {
    font-size: 16px;
  }
}
@media screen and (max-height: 650px) {
  .mainContainer, .aboutme {
    height: 400px;
  }
}
@media screen and (max-height: 500px) {
  .mainContainer, .aboutme {
    height: 300px;
  }
}
@media screen and (max-height: 410px) {
  .mainContainer, .aboutme {
    height: 200px;
  }
}

@media screen and (max-height: 350px) {
  .mainContainer, .aboutme {
    height: 150px;
  }
}