.dashboard {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    max-width: 97vw;
    margin-top: 90px;
}
.contactMe {
    visibility: hidden;
}
@media screen and (max-width: 550px) {
    .dashboard {
        margin-top: 180px;
    }
    .contactMe {
        visibility: visible;
    }
}