.contactBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  margin-left: 10px;
}

.formBox {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.inputCont {
  display: flex;
  flex-flow: row;
  width: 100%;
  gap: 20px;
}
.inputCont label {
  color: #fff;
  font-weight: 500;
  width: 20%;
  font-size: 20px;
}

.formBox input,
.formBox textarea {
  border: none;
  margin-bottom: 20px;
  outline: none;
  padding: 5px;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid #ccc;
  border-radius: 5px;
}
.formBox input:focus,
.formBox textarea:focus {
  border-color: #007bff;
}
.formBox input {
  height: 50px;
  width: 70%;
}
.formBox textarea {
  min-height: 22vh;
  width: 70%;
  min-width: 200px;
}
.sendBtn {
  display: flex;
  align-self: center;
  width: 50%;
  height: 50px;
  padding: 5px;
  background-color: transparent;
  font-size: 30px;
  font-weight: 500;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  border-radius: 5px;
  color: #f9a825;
  border: 2px solid #f9a825;
  cursor: pointer;
}
.sendBtn:hover {
  background-color: #f9a825;
  color: #fff;
}
.sendBtn:hover .sendIcon {
  color: #fff;
}
.sendIcon {
  font-size: 30px;
  color: #f9a825;
}
@media screen and (max-width: 850px) {
  .formBox {
    width: 90%;
  }
}


@media screen and (max-width: 750px) {
  .contactBox {
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 650px) {
  .inputCont {
  flex-flow: column;
  }
  .inputCont textArea, .inputCont input {
    width: 90%;
  }
  .sendBtn {
    width: 60%;
  }
}
