.contactBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  margin-left: 10px;
  margin-bottom: 70px;
}


.formBox {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
  justify-content: center;
  width: 90%;
}
.inputBox {
  display: flex;
  flex-flow: row;
  width: 100%;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.formBox input,
.formBox textarea {
  border: none;
  margin-bottom: 20px;
  outline: none;
  padding: 5px;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid #ccc;
  border-radius: 5px;
}
.formBox input:focus,
.formBox textarea:focus {
  border-color: #007bff;
}
.formBox input {
  height: 50px;
  width: 50%;
}
.formBox textarea {
  min-height: 22vh;
  width: 100%;
  min-width: 200px;
}
.sendBtn {
  display: flex;
  align-self: flex-end;
  width: 350px;
  height: 50px;
  padding: 5px;
  background-color: transparent;
  font-size: 30px;
  font-weight: 500;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  border-radius: 5px;
  color: #f9a825;
  border: 2px solid #f9a825;
  cursor: pointer;
}
.sendBtn:hover {
  background-color: #f9a825;
  color: #fff;
}
.sendBtn:hover .sendIcon {
  color: #fff;
}
.sendIcon {
  font-size: 30px;
  color: #f9a825;
}

@media screen and (max-width: 500px) {
  .inputBox {
    flex-flow: column;
  }
  .inputBox  input {
    width: 100%;
  }
  .sendBtn {
    width: 100%;
  }
}

