.main {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: column;
    min-height: 80vh;
    min-width: 100vw;
}

h2 {
    font-size: 24px;
    font-weight: 500;
    color: #6a0dad;
}
.inputbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 20px 20px 20px 0px;
    height: 50px;
}
.inputbox span.label {
    position: absolute;
    top: 20%;
    left: 6px;
    transition: top 0.3s ease;
    opacity: 0.7;
}
.inputbox input, .inputbox textarea {
    border: none;
    outline: none;
    border: 2px solid #000;
    border-radius: 4px;
    padding: 6px;
    width: 350px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    top: 0;
    left: 0;
}

.inputbox textarea {
    min-height: 30vh;
    min-width: 40vw;
}

.inputbox input:focus,
.inputbox input:hover {
    border-color: #6a0dad;
    cursor: pointer;
}

.inputbox textarea:focus,
.inputbox textarea:hover {
    border-color: #6a0dad;
    cursor: pointer;
}
.inputbox input:focus + span.label,
.inputbox input:valid + span.label {
    top: -15px;
    background-color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 0 6px;
    z-index:5;
    opacity: 1;
}
.inputbox textarea:focus + span.label,
.inputbox textarea:valid + span.label {
    top: -15px;
    background-color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 0 6px;
    z-index:5;
    opacity: 1;
}

@media screen and (max-width: 550px) {
    .main {
        margin-top: 90px;
    }
}

@media screen and (max-width: 500px) {
    .inputbox input {
        width: 250px;
    }
 
}