
.aboutinfo {
    display: flex;
    flex-flow: row;
   width: 100%;
   height: 100%;
   align-items: center;
   justify-content: center;
}
.aboutheader {
    margin: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.aboutheader h2 {
    font-weight: bolder;
    font-size: 40px;
    color: #fff;
}
.aboutheader h2 span {
    color: rgb(219, 10, 97);
}
.aboutheader h3 {
    color: #f9a825;
    font-weight: bolder;
    font-size:30px;
    height: 90px;
    margin-bottom: 20px;
}
.aboutheader .btn {
    border-radius: 5px;
    border: 2px solid #6a0dad;
    padding: 5px;
    font-size: 20px;
    font-weight: 600;
    color: #6a0dad;
    background: transparent;
    cursor: pointer;
    text-decoration: none;
}
.btn:nth-child(1) {
    width: 200px;
    margin-top: -7px;
}
.homeBtn {
   display: flex;
   gap: 20px;
   flex-flow: row wrap;    
}
.btn:hover {
    background: #6a0dad;
    color: #fff;
}
a {
    text-decoration: none;
}

@media screen and (max-width: 750px) {
    .aboutinfo {
        flex-flow: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
}
@media screen and (max-width: 550px) {
    .aboutinfo {
        margin-left: 0;
        margin-top: 0px;
        width: 100vw;
    }
}


@media screen and (max-width: 450px) {
    .homeBtn {
        margin-bottom: 70px;
    }
}