
.myprojects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 10px;
}



@media screen and (max-width: 550px) {
  .mainContainer {
    margin-top: 150px;
    height: calc(80vh - 40px);
    margin-left: 0;
    width: 100vw;
  }
}

@media screen and (max-height: 650px) {
  .mainContainer {
    height: 400px;
  }
}
@media screen and (max-height: 500px) {
  .mainContainer, .aboutme {
    height: 300px;
  }
}
@media screen and (max-height: 410px) {
  .mainContainer, .aboutme {
    height: 200px;
  }
}

@media screen and (max-height: 350px) {
  .mainContainer, .aboutme {
    height: 150px;
  }
}