.blog {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}
.blogBody {
    max-width: 100%; /* Limit maximum width */
    overflow-x: auto; /* Enable horizontal scrolling if needed */
    word-wrap: break-word;
}

.blogArea p {
    color: #000;
}

.blogArea {
    width: 80vw;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.blogHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.blogHeader h3 {
    font-weight: 600;
    font-size: 40px;
    color: #6a0dad;
    text-decoration: underline;
}

.blogHeader h4 {
    font-weight: 500;
    font-size: 18px;
    opacity: 0.9;
}

.blogBody {
    margin: 20px 0;
}

.reviewForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.reviewForm h3  {
    color: #6a0dad;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.inputBox, .textBox {
    border: none;
    outline: none;
    border-bottom: 3px solid #ccc;
    margin-bottom: 20px;
    padding: 5px;
    min-width: 50vw;
    max-width: 70vw;
    font-size: 16px;
}
.textBox {
    height: 15vh;
}
.reviewBtn {
    border-radius: 5px;
    background: transparent;
    max-width: 40vw;
    min-width: 30vw;
    height: auto;
    padding: 5px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    border: 2px solid #6a0dad;
    font-size: 20px;   
    color: #6a0dad;
}
.reviewBtn:hover {
    color: #fff;
    background-color: #6a0dad;
    cursor: pointer;
}

.reviewsSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 3px solid #ccc;
}
.reviewsSection h3 {
    color: #6a0dad;
    font-size: 20px;
    font-weight: 500;
    width: 100%;
}

.show {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.show span {
    color: #f00;
    cursor: pointer;
}

.reviews {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
}

.reviewBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 10px;
}
.reviewerIcon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #ff4081;
    background: #ff4081;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    text-align: center;
    font-weight: 800;
    color: #fff;
}

.reviewHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.reviewHeader h4 {
    font-size: 18px;
    font-weight: 600;
}
.reviewHeader p {
    opacity: 0.7;
    font-size: 16px;
}
.reviewContent {
    font-size: 16px;
    border-top: 1px solid #ccc;
}
.deleteBtn {
    background: #f00;
    border: #f00;
    outline: none;
    cursor: pointer;
    color: #fff;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
}

img {
    width: 100%;
    height: auto;
}