.modalbox {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  z-index: 5;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
  overflow-y: hidden;
}
.projectcontentBox {
 position: absolute;
  top: 0;
  right: 0;
  margin: 10px 0 10px;
  width: 100vw;
  overflow: hidden;
  height: calc(100vh - 20px);
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}
.projectcontentBox .header {
  background: #6a0dad;
  width: 100%;
  height: 60px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  z-index: 100;
}
.header h2 {
  font-size: 25px;
  color: #fff;
  font-weight: 700;
  opacity: 0;
}

.header span {
  color: #fff;
  cursor: pointer;
  opacity: 0;
}
.projectOuterBox {
  height: calc(100vh - 60px); /* Adjust height to be relative to viewport */
  margin-top: 60px;
  width: 100%; /* Simplified width */
  z-index: 99;
  display: flex;
  flex-direction: column; /* Ensure content flows properly */
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}


.projectcontent {
  display: flex;
  align-items: flex-start;
  flex-flow: row;
  justify-content: flex-start;
  transition: transform 0.5s ease;
  width: 100%;
  height: 100%;
}

.rightArrow, .leftArrow {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  top: 50%;
  border: none;
  outline: none;
  background: #000;
  color: #ff4081;
  font-size: 30px;
  font-weight: 600;
}
.rightArrow {
  right: 10px;
}
.leftArrow {
  left: 10px;
}
.mainBox {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.projectcontent .contentBox {
  border-radius: 5px;
  width: 90%;
  height: 500px;
  display: flex;
  margin: 20px;
  flex-flow: column nowrap;
  gap: 10px;
  justify-content: flex-start;
  border: 2px solid #666;
  align-items: center;
  text-align: justify;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
}

.contentBox::-webkit-scrollbar {
  width: 10px; 
  border-radius: 5px;
  background-color: #f5f5f5; 
}

.contentBox::-webkit-scrollbar-thumb {
  background-color: #f9a825; 
  border-radius: 5px; 
}
iframe {
  width: 800px;
  height: 350px;
}

.modalbox h4 {
  font-size: 20px;
  color: #ff4081;
  font-weight: 600;
}
.videoBox {
  margin: 20px;
}


.toolsBox {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 10px;
}
.toolsBox span {
  padding: 5px;
  border-radius: 3px;
  background: #141313;
  color: #fff;
}
.contentBox .urlBox {
  display: flex;
  gap: 20px;
}
.urlBox {
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
a.link {
  color: #6a0dad;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
}

a.link:hover {
  text-decoration: underline;
}
.viewbtn {
  border: 2px solid #6a0dad;
  border-radius: 5px;
  padding: 5px;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  color: #6a0dad;
  background: transparent;
  text-decoration: none;
  cursor: pointer;
}


@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.appearAnimation {
  animation: slideInFromRight 0.5s ease-out 0.5s forwards;
}


@media screen  and (max-width: 1000px) {
  iframe {
    width: 600px;
  }
}

@media screen  and (max-width: 1000px) {
  iframe {
    width: 500px;
  }
}
@media screen and (max-width: 650px) {
 
  iframe {
    width: 400px;
  }
}
@media screen and (max-width: 550px) {

  iframe {
    width: 300px;
  }
}
@media screen and (max-width: 450px) {
  iframe {
    width: 250px;
  }
}


@media screen and (max-width: 350px) {
  iframe {
    width: 200px;
    height: 400px;
  }
}

@media screen and (max-height: 600px) {
  .projectcontent .contentBox {
    height: 300px;
  }
}


@media screen and (max-height: 400px) {
  .projectcontent .contentBox {
    height: 200px;
  }
}
